body {
  margin: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
