.header-bg {
  background-color: var(--cor-12);
}

.header {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  display: inline-block;
  transition: 0.3s;
}

.header img:hover {
  transform: scale(1.2);
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  display: inline-block;
  transition: 0.3s;
  padding: 3px 8px;
  border-radius: 15px;
  border: 2px solid transparent;
}

.header-menu a:hover {
  transform: scale(1.2);
  border: 2px solid var(--cor-0);
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 30px;
  }

  .header-menu a {
    border: 2px solid var(--cor-0);
    padding: 8px 16px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 15px;
  }

  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    font-size: 14px;
  }
}
